/*
* Your Stylesheet
*
* This stylesheet is loaded when Atom starts up and is reloaded automatically
* when it is changed and saved.
*
* Add your own CSS or Less to fully customize Atom.
* If you are unfamiliar with Less, you can read more about it here:
* http://lesscss.org
*/

atom-panel.modal.overlay.from-top {
    min-width: 800px;

    .select-list ol.list-group  {
        max-height: 600px;
    }
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
    -webkit-font-smoothing: antialiased;
    font-family: Menlo, "DejaVu Sans Mono", Menlo;
    color: #ddd;

    #linter-inline {
        padding: 6px 3px;
        position: fixed;
        bottom: 1px;
        right: 0;
        left: 0;
        margin: auto;
        width: 800px;
        box-shadow: none;
        border-radius: 0;

        &::before {
            display: none;
        }
    }

}

@import "syntax-variables";
atom-text-editor.editor {


    .line > .invisible-character:first-child {
        display: inline-block;
        box-shadow: rgba(171, 178, 191, 0.14902) 1px 0px 0px 0px inset;
    }

    .invisible-character {
        color: @syntax-background-color;
        opacity: .7;
    }
    .indent-guide {
        box-shadow: rgba(171, 178, 191, 0.14902) 1px 0px 0px 0px inset;
    }

    .syntax--keyword.syntax--operator.syntax--logical {
        color: #d19a66;
    }

    // disable underlines on linter warnings. The gutter mark and minimap highlights are enough
    .linter-highlight.syntax--warning .region {
        border-bottom: 0;
    }

}
.results-view .path-details {
    color: #fff !important;
}

// Fuzzy Finder Custom Styles
.fuzzy-finder .list-group {
    .primary-line {
        display: none !important;
    }
    .secondary-line {
        color: #abb2bf !important;
    }
    .character-match {
        color: #17ca65;
        font-weight: bold;
    }
}

.command-palette {
    .event {
        color: #abb2bf !important;
    }
    .character-match {
        color: #17ca65 !important;
        font-weight: bold;
    }
}

// Change icon for spec.ts files
.ts-icon {
  &[data-name$=".spec.ts"]:before {
    font-family: file-icons;
    content: "\EA69";
  }
}

// Change icon for test.js files
.js-icon {
  &[data-name$=".test.js"]:before {
    font-family: file-icons;
    content: "\EA64";
  }
}

.atom-dock-toggle-button {
    display: none;
    bottom: -8px;
    transform: scale(0.7);
    .atom-dock-toggle-button-inner,.icon {
        transition: none;
    }
}
